{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'game/images/thewitcher2_93909.ico' %}" type="image/icon">
	<link type="text/css"  rel="stylesheet" href="{% static 'game/css/reset.css' %}">
	<link type="text/css" href="{% static 'game/css/styles.css' %}" rel="stylesheet" />
	<title>{{ title }}</title>
</head>
<body>
	<header class="header">
	</header>
	<main class="main">
        <!-- Блок контента -->
		<!-- The video -->
        {% block content %}
        {% endblock %}

	</main>
		<footer class="footer">
		<div class="footer-content">
		<div class="footer-info">
			<p>Автор проекта:</p>
			<a class="person" href="https://vk.com/ohlomonchick337" target="_blank">
				<div class="vk">
				<img class="icon" src="">
				</div>
				<p>Проскурин Дмитрий</p>
			</a>

		</div>
		</div>
		<div class="disclaimer">
			© WITCHER_BOT
		</div>
	</footer>

</body>
</html>