{% extends 'game/base.html' %}
{% load static %}
{% block content %}

  <img src="{% static 'game/images/wallpaperflare.com_wallpaper (47).jpg' %}" id="myVideo">
		<div class="main-opacity on-video">
				<div class="container">
					<div class="container-center">
						<h1 class="main-titleF">WITCHER-BOT LEADERS
							<span class="main-title2"></span>
						</h1>
						<div class="main-container">
						<div>


						</div>
						</div>

					</div>
				</div>
				<div class="scrollme scrollme-on-video" style=" ;">
                    <svg viewBox="0 0 32 32" height="35" width="35">
						<path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
					</svg>
				</div>
			</div>
        <div class="prev-main main-block">
			<div class="main-opacity prev-op">
				<div class="container">
					<div class="container-center">
						<div class="main-container">
                <table>
                <tr>
                    <th colspan="2">Пользователь</th>
                    <th>Максимум очков</th>
                    <th>Текущий опыт</th>
                    <th>Карма</th>
                    <th>Концовка</th>
                </tr>
                {% for p in posts %}
                        <tr>
                            {% if p.photo %}
                            <td><img class="img-profile" src="{{p.photo.url}}"></td>
                            {% else %}
                                <td><div class="circle-profile" ></div></td>
                            {% endif %}
                            <td>{{p.name}}</td>
                            <td> {{p.total}}</td>
                            <td> {{p.experience}}</td>
                            <td> {{p.karma}}</td>
                            <td> {{p.ending}}</td>
                        </tr>
                {% endfor %}
                    </table>
                        {% if page_obj.has_other_pages %}
                        <nav class="list-pages">
                            <ul>
                            {% if page_obj.has_previous %}
                                <li class="block-num">
                                    <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none;">&lt;</a>
                                </li>
                            {% endif %}
                                {% for p in paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <li class="block-num block-num-selected">
                                        <a style="text-decoration: none;">{{ p }}</a>
                                    </li>
                                {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                                <li class="block-num">
                                    <a href="?page={{ p }}" style="text-decoration: none;">{{ p }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="block-num">
                                    <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none;">&gt;</a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</ul>
		</div>



		</div>

{% endblock %}